@model IReadOnlyCollection<IAmBacon.Core.Application.User.Queries.User>

<h1>Users</h1>

<p>
    <a asp-controller="User" asp-action="Create">Create New</a>
</p>
<table>
    <tr>
        <th>Active</th>
        <th>Date created</th>
        <th>Date modified</th>
        <th>Email</th>
        <th>First name</th>
        <th>Last name</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><input asp-for="@item.Active" disabled="disabled" /></td>
            <td>@item.DateCreated</td>
            <td>@item.DateModified</td>
            <td>@item.Email</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>
                <a asp-controller="User" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="User" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="User" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>