@model IAmBacon.Admin.ViewModels.Post.EditPostViewModel

<h1>Edit a post</h1>
<form asp-controller="Post" asp-action="Edit" method="post">
    <fieldset>
        <legend>Post</legend>
        <div>
            <label asp-for="Authors"></label>
        </div>
        <div>
            <select asp-for="AuthorId" asp-items="Model.Authors"></select>
            <span asp-validation-for="AuthorId"></span>
        </div>
        <div>
            <label asp-for="Categories"></label>
        </div>
        <div>
            <select asp-for="CategoryId" asp-items="Model.Categories"></select>
            <span asp-validation-for="CategoryId"></span>
        </div>
        <div>
            <label asp-for="Tags"></label>
        </div>
        <div>
            @{
                for (int i = 0; i < Model.Tags.Count; i++)
                {
                    <input asp-for="@Model.Tags[i].Id" type="hidden" />
                    <input asp-for="@Model.Tags[i].Label" type="hidden" />
                    <label asp-for="@Model.Tags[i].Id">@Model.Tags[i].Label</label>
                    <input asp-for="@Model.Tags[i].IsChecked" type="checkbox" />
                }
            }
        </div>
        <div>
            <label asp-for="NoCss"></label>
        </div>
        <div>
            <input asp-for="NoCss" type="checkbox" />
        </div>
        <div>
            <label asp-for="Active"></label>
        </div>
        <div>
            <input asp-for="Active" type="checkbox" />
        </div>
        <div>
            <label asp-for="Image"></label>
        </div>
        <div>
            <input asp-for="Image" type="text" />
        </div>
        <div>
            <label asp-for="Title"></label>
        </div>
        <div>
            <input asp-for="Title" type="text" />
            <span asp-validation-for="Title"></span>
        </div>
        <div>
            <label asp-for="Markdown"></label>
        </div>
        <div>
            <textarea asp-for="Markdown" rows="15" cols="92"></textarea>
            <span asp-validation-for="Markdown"></span>
        </div>
    </fieldset>
    <p>
        <input type="submit" value="Save" />
    </p>
</form>
<a asp-controller="Post" asp-action="Index">Back to List</a>