@model IAmBacon.Areas.Admin.ViewModels.CommentsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h1>Comments</h1>
<section>
    <h1>Active comments</h1>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comments.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments.First().PostTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments.First().Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments.First().Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments.First().DateCreated)
            </th>
            <th></th>
        </tr>
        @Html.DisplayFor(x => x.Comments)
    </table>
</section>
<section>
    <h1>Spam comments</h1>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SpamComments.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpamComments.First().PostTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpamComments.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpamComments.First().Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpamComments.First().Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpamComments.First().DateCreated)
            </th>
            <th></th>
        </tr>
        @Html.DisplayFor(x => x.SpamComments)
    </table>
</section>
