@model IAmBacon.ViewModels.Post.CategoryCountViewModel
<li class="asideNav-item">
    <a class="block" href="@Model.Url">
        @Model.Name <span class="asideNav-item-count">@Model.Count</span>
        <meter value="@Model.Percent">@Model.PercentDisplayText</meter>
    </a>
</li>