@model IAmBacon.ViewModels.Post.CategoryCountViewModel
<li class="asideNav-item">
    <a class="block" href="@Url.Category(Model.Name.ToSeoUrl())">
        @Model.Name <span class="asideNav-item-count">@Model.Count</span>
        <meter value="@Model.Percent">
            <span class="meter">
                <span style="width: @Model.PercentDisplayText;" class="meter-gauge">@Model.PercentDisplayText</span>
            </span>
        </meter>
</a>
</li>