@model IAmBacon.ViewModels.PostsViewModel
@section css
{
    @Styles.Render("~/bundles/landingpageCss")
}
@section iecss
{
    @Styles.Render("~/bundles/landingpageIeCss")
}
<div class="pageTitle">
    <div class="layoutContainer layoutContainer--visible has-triangle">
        <h1 class="pageTitle-headline">I am blog</h1>
        <p class="pageTitle-subline">These are the things I write about</p>
    </div>
</div>
<div class="layoutContainer">
    <section class="g-landing-content">
        <h2 class="h2">Recent posts</h2>
        @Html.DisplayFor(x => x.Posts)
    </section>
    <div class="g-landing-aside">
        <aside class="asideNav">
            <h2 class="asideNav-title">Categories</h2>
            <ol class="asideNav-items">
                @Html.DisplayFor(x => x.CategorySummaries)
            </ol>
            <h2 class="asideNav-title">Tags</h2>
            <ol class="asideNav-items">
                @Html.DisplayFor(x => x.Tags)
            </ol>
        </aside>
    </div>
    @if (Model.DisplayPagination)
    {
        @Html.Partial("_Pagination", Model.Pagination)
    }
</div>

