@model IAmBacon.ViewModels.Home.PostThumbViewModel
<div class="g-article article">
    <a href="@Url.Post(@Model.SeoTitle)">
        <img class="article-image" src="@Model.Thumbnail" alt="@Model.Title" />
    </a>
    <h3 class="article-title">
        <a href="@Url.Post(@Model.SeoTitle)">@Model.Title</a>
    </h3>
    <dl class="article-meta">
        <dt class="visuallyHidden">Category:</dt>
        <dd>
            <a class="categoryTag" href="@Url.Category(@Model.Category.ToSeoUrl())">@Model.Category</a>
        </dd>
    </dl>
</div>