@model IAmBacon.ViewModels.PostViewModel
<article class="post">
    <header>
        <h3 class="h3">@Html.RouteLink(Model.Title, "BlogPost", new { title = Model.SeoTitle })</h3>
        <time datetime="@Model.DateTime">@Model.DateCreated</time>
        <strong>Category:</strong>
        @Html.RouteLink(Model.Category, "Category", new { name = Model.Category.ToSeoUrl() }, new { @class = "link" })
    </header>
    @Model.Content
    <footer>
        <ul>
            @if (Model.Tags != null && Model.Tags.Any())
            {
                <li>
                    <strong>Tags:</strong>
                    @Html.DisplayFor(x => x.Tags)
                </li>
            }
            <li>
                <strong>Author:</strong>
                @Model.Author
            </li>
        </ul>
    </footer>
</article>
