@using IAmBacon.Presentation.HtmlHelpers;
@model IAmBacon.ViewModels.ViewModelBase
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Model.PageTitle</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Colin Bacon - Web Developer.  Will develop for money and Bacon..." />
    <!--[if lte IE 8]>
        @RenderSection("iecss", false)
    <![endif]-->
    <!--[if gt IE 8]><!-->
    @RenderSection("css", false)
    <!--<![endif]-->
</head>
<body>
    @{Html.RenderPartial("_Header");}
    <main role="main">
        @RenderBody()
    </main>
    @{Html.RenderPartial("_Footer", Model.Footer);}
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    @RenderSection("belowTheFoldCss", false)
    @RenderSection("scripts", false)
    @Google.GetAnalyticsHtml()
</body>
</html>
