@using IAmBacon.Presentation.HtmlHelpers;
@using StackExchange.Profiling;
@model IAmBacon.ViewModels.ViewModelBase
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Model.PageTitle</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @RenderSection("meta", false)
    <link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
    <!--[if lte IE 8]>
        @RenderSection("iecss", false)
    <![endif]-->
    <!--[if gt IE 8]><!-->
        @RenderSection("css", false)  
    <!--<![endif]-->
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <h1>@Html.ActionLink("I am Bacon.", "Index", "Home")</h1>
            <a href="http://feeds.feedburner.com/iambacon" title="Subscribe to my blog">Subscribe to my blog</a>
        </header>
        <main class="content" role="main">
            @RenderBody()
        </main>
    </div>
    @RenderSection("scripts", false)
    @Google.GetAnalyticsHtml()
    @MiniProfiler.RenderIncludes()
</body>
</html>
